<div class="font-13">
    <h5 class="font-13 font-weight-bold">VOCÊ ESTÁ SOLICITANDO UM USUÁRIO PARA ACESSAR AO SISTEMA PREFEITURA BRASIL.</h5>

    <p>Aqui vai o texto com instruções sobre o SPB</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel maximus mauris. Etiam finibus volutpat diam, at bibendum sem scelerisque a.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel maximus mauris. Etiam finibus volutpat diam, at bibendum sem scelerisque a.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel maximus mauris. Etiam finibus volutpat diam, at bibendum sem scelerisque a.
    </p>
</div>