@page

@using IdentityServer.Pages.Account.Password;
@using PrefeituraBrasil.IdentityServer.Models.Enums;
@using PrefeituraBrasil.IdentityServer;

@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperação de senha";
}

<div class="containerbar authenticate-bg">
    <div class="container">
        <div class="auth-box forgot-password-box">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="auth-box-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="auth-box-logo mb-3 text-center">
                                    <img src="~/images/logo-light.svg" width="350px" class="img-fluid " alt="logo">
                                    <p class="mb-0 mt-2">O Governo Digital mais próximo do cidadão</p>
                                </div>
                                <hr />

                                <h5 class="my-4 text-center">@ViewData["Title"]</h5>
                                @*<div class="form-group">
                                    <p class="mb-4 text-justify">Informe abaixo o e-mail ou CPF usado para se registrar no SPB.</p>
                                </div>*@

                                @* <div class="alert alert-primary" role="alert">
                                <i class="bi bi-info-circle"></i>
                                Informe seu CPF ou e-mail registrado.
                                </div>*@
                                <form method="post" class="general-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <div>
                                            <span>Como deseja recuperar sua senha?: </span>
                                        </div>

                                        <span class="py-2" id="lblLoginPorEmail">
                                            @Html.RadioButtonFor(m => m.Input.TipoLogin, TipoLogin.EMAIL, new { @id = "rdoLoginPorEmail", name = "tipoLogin", Checked = Model.Input.TipoLogin == TipoLogin.EMAIL ? "checked" : "" })
                                            Por email
                                        </span>
                                        <span class="py-2 px-3" id="lblLoginPorCPF">
                                            @Html.RadioButtonFor(m => m.Input.TipoLogin, TipoLogin.CPF, new { @id = "rdoLoginPorCPF", name = "tipoLogin", Checked = Model.Input.TipoLogin == TipoLogin.CPF ? "checked" : "" })
                                            Por CPF
                                        </span>
                                        <span asp-validation-for="Input.TipoLogin" class="text-danger"></span>
                                    </div>

                                    <div id="divLoginPorEmail" class="form-group">
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <input id="txtLoginEmail" asp-for="Input.Email" class="form-control" placeholder="seuemail@exemplo.com" autocomplete="username" aria-required="true" autofocus />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div id="divLoginPorCPF" class="form-group visually-hidden">
                                        <label asp-for="Input.CPF" class="form-label"></label>
                                        <input id="txtLoginCPF" asp-for="Input.CPF" class="form-control cpf" placeholder="000.000.000-00" autocomplete="cpf" aria-required="true" />
                                        <span asp-validation-for="Input.CPF" class="text-danger"></span>
                                    </div>

                                    <hr />

                                    <button type="submit" class="w-100 btn btn-lg rounded btn-primary">Confirmar</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
