@page

@using IdentityServer.Pages.Account.Password;

@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recebemos sua solicitação!";
}

<div class="containerbar authenticate-bg">
    <div class="container">
        <div class="auth-box forgot-password-box">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-sm-12 col-md-9 col-lg-6">
                    <div class="auth-box-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="auth-box-logo mb-3 text-center">
                                    <img src="~/images/logo-light.svg" width="350px" class="img-fluid " alt="logo">
                                    <p class="mb-0 mt-2">O Governo Digital mais próximo do cidadão</p>
                                </div>
                                <hr />

                                <h5 class="my-4 text-center">@ViewData["Title"]</h5>

                                <div>
                                    <p class="mb-3 text-center">Você receberá um e-mail com um link para recuperar sua senha.</p>

                                  @*  <p>Algumas dicas importantes:</p>
                                    <ul >
                                        <li class="font-13">O email pode demorar um pouco pra chegar (geralmente leva menos de 5 minutos).</li>
                                        <li class="font-13">Verifique se o email não ficou na sua caixa de spam.</li>
                                        <li class="font-13">Se você não encontrar o email, verifique se você o digitou corretamente na tela de recuperação de senha.</li>
                                    </ul>*@
                                </div>

                                <div class="text-center">
                                    <small class="my-4 d-inline">Você pode fechar esta aba ou janela ou  
                                        <a href="/Account/Login/Index" class="btnVoltar d-inline">ir para login.</a> </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>