@page

@using IdentityServer.Pages.Account.Password;

@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha alterada!";
}

<div class="containerbar authenticate-bg">
    <div class="container">
        <div class="auth-box forgot-password-box">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="auth-box-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="auth-box-logo mb-3 text-center">
                                    <img src="~/images/logo-light.svg" width="350px" class="img-fluid " alt="logo">
                                    <p class="mb-0 mt-2">O Governo Digital mais próximo do cidadão</p>
                                </div>
                                <hr />

                                <h5 class="my-3 text-center">@ViewData["Title"]</h5>
                                <p class="my-3 text-justify">
                                    Sua senha foi alterada com sucesso. <a asp-page="/Account/Login/Index" asp-route-returnUrl="@Model.ReturnUrl">Clique aqui</a> para fazer login.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
