@page
@model IdentityServer.Pages.Account.Logout.LoggedOut

<div class="containerbar authenticate-bg">
    <div class="container">
        <div class="auth-box forgot-password-box">
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="auth-box-center">
                        <div class="card">
                            <div class="card-body">
                                <div class="auth-box-logo mb-3 text-center">
                                    <img src="~/images/logo-light.svg" width="350px" class="img-fluid " alt="logo">
                                    <p class="mb-0 mt-2">O Governo Digital mais próximo do cidadão</p>
                                </div>
                                <hr />

                                <h5 class="my-4 text-center">Você foi desconectado.</h5>
                                <div class="form-group">
                                    @if (Model.View.PostLogoutRedirectUri != null)
                                    {
                                        <div class="text-center">
                                            <a id="lnkPostLogoutUri" class="PostLogoutRedirectUri" href="@Model.View.PostLogoutRedirectUri">Clique aqui</a> para retornar.
                                            @* <span>@Model.View.ClientName</span>*@
                                        </div>

                                        @if (Model.View.ShowAutoRedirectTimer)
                                        {
                                            <div class="pt-4 text-center">
                                                <small>Voce será redirecionado automaticamento em <span id="spnTimer"></span> segundos.</small>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <a asp-page="/Account/Login/Index" class="btn btn-primary btn-lg font-18">Ir para Login</a>
                                        </div>
                                    }

                                    @if (Model.View.SignOutIframeUrl != null)
                                    {
                                        <iframe width="0" height="0" class="signout" src="@Model.View.SignOutIframeUrl"></iframe>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
    {

    @if (Model.View.AutomaticRedirectAfterSignOut)
    {
        @if (Model.View.ShowAutoRedirectTimer && !String.IsNullOrWhiteSpace(Model.View.PostLogoutRedirectUri))
        {
            <script src="~/js/logout.js"></script>
        }
        else
        {
            <script src="~/js/signout-redirect.js"></script>
        }
    }
}
